<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="showVideo" id="videoContainer">
  <video type="video/mp4" autoplay (ended)="abortVideo($event)">
    <source src={{videoSource}}>
      <p>Html5 video not supported!</p>
  </video>
  <i class="fas fa-stop-circle fa-5x" (click)="abortVideo($event)" id="skipVideo" title="Skip video"></i>
</div>
<div id="audio" *ngIf="!showVideo" [ngStyle]="{'background-image': 'url('+imageSource+')'}">
  <div id="lorem">
      {{textSource}}
  </div>
    <i class="fas fa-play-circle fa-5x" id="playAudio" (click)="playAudio($event)" title="Sing me a song!"></i>
  <audio>
    <source src={{audioSource}}>
      <p>Hyml5 audio not supported!</p>
  </audio>
</div>
